*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #285382;
  background-image: radial-gradient(#d6e0e9 0.8500000000000001px, #052d59 0.8500000000000001px);
  background-size: 17px 17px;
}

.App{
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: flex-start;
  height: 420px;
  width: 80%;
  border-radius: 5px;
  margin: 15em auto;
  background-color: #d6e0e9;
}

